<div>
  <header class="sticky-top img-fluid">
    <div>
      <marquee behavior="alternate"> <p style="font-size: 100px;color: #00aeef"> WELCOME C06! </p></marquee>
    </div>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light backgroundFooter"
           style="background: green;height: 40px">
        <a class="navbar-brand chu_menu"  routerLink="/sotietkiem/list"
           style="color: white;margin-left: 10%">TRANG CHỦ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="d-flex align-items-center m-2 ">
            <span class="btn btn-outline-success chu_menu"
                  style="font-family:courier,arial,helvetica;color: orange">
                <strong>
                <a href="https://www.facebook.com/phamdat.s2" style="color: white;text-decoration: none"
                   target="_blank"> <span
                  class=' bi-facebook' style="color: #00aeef"></span> Đạt Phạm</a>
                </strong>
            </span>
          <span>&ensp;</span>
        </div>
      </nav>
    </div>
  </header>
</div>

