a {
    text-decoration: none;
}

.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
    background-size: auto 100%;
    width: 175px;
    height: 250px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-duration: 1s;
    animation-delay: -0.5s;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird-container {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    will-change: transform;
}

@keyframes fly-cycle {
    100% {
        background-position: -3600px 0;
    }
}

select:hover {
    color: white;
    background: #888888;
}

input:hover {
    color: white;
    background: #888888;
}

.input {
    color: white;
    background: #888888;
}

.bi {
    color: blue;
}

.bi:hover {
    color: green;
}

h5 {
    color: rebeccapurple;
    text-align: center;
}

/*.backgroundFooter {*/
/*    background: linear-gradient(-25deg, #CC99FF, #00FFFF, #e73c7e, #0099FF);*/
/*    background-size: 200% 200%;*/
/*    animation: gradient 15s ease infinite;*/
/*    height: 60vh;*/
/*}*/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


a {
    text-decoration: none;
    color: rebeccapurple;
}

a:hover {
    color: blue;
}

.modal-body {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

.chat-bubble {
    background-color: #EDEDED;
    border: 2px solid #666666;
    font-size: 20px;
    line-height: 1.3em;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 245px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 5px #888888;
    -webkit-box-shadow: 0 0 5px #888888;
}

.chat-bubble-arrow-border {
    border-color: #666666 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -22px;
    left: 30px;
}

.chat-bubble-arrow {
    border-color: #EDEDED transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -19px;
    left: 30px;
}

p {
    text-indent: 40px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 10px;
    z-index: 300;
    border: none;
    outline: none;
    background-color: green;
    border: 2px solid #ccc;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    opacity: 0.7;
}

#myBtn:hover {
    background-color: #33CCFF;
}

