<div class="container-fluid">

  <form method="post"
        style="margin-left:30%;width: 40%;margin-top: 3%">
    <table class="table table-striped" border="1">
      <tr>
        <th colspan="2" style="color: darkmagenta;font-size: 35px;text-align: center;font-family: Papyrus,fantasy">
          THÊM MỚI DỊCH VỤ
        </th>
      </tr>

      <div id="villaHouse">
        <tr class="villaHouse">
          <td>TIÊU CHUẨN PHÒNG:</td>
          <td><input class="form-control"/></td>
        </tr>

        <tr class="villaHouse">
          <td>TIỆN NGHI KHÁC:</td>
          <td><input class="form-control"/></td>
        </tr>

        <tr class="villaHouse">
          <td>SỐ TẦNG:</td>
          <td><input class="form-control"></td>
        </tr>
      </div>

      <tr id="poolArea">
        <td>DIỆN TÍCH HỒ BƠI:</td>
        <td><input class="form-control"/></td>
      </tr>

      <tr id="facilityFree">
        <td>DỊCH VỤ MIỄN PHÍ:</td>
        <td><input class="form-control"/></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn  btn-primary" type="submit" value="Create">Thêm mới</button>
        </td>
      </tr>
    </table>
  </form>
</div>
