<div>
  <footer class="img-fluid">
    <div style="background: white;height: 40px"></div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <span style="color: orange;font-size: 20px">Hướng Dẫn Di Chuyển</span><br>
            <p class="text-justify"> Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những
              điểm đến hấp dẫn nhất Châu Á. Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn
              hóa
              Thế giới được UNESCO công nhận:</p>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <a style="font-size: 15px;color: crimson" target="_blank"
                 href="https://www.google.com/maps/dir//103+-+105+Vo+Nguyen+Giap+Street,+Khue+My+Ward,+Ngu+Hanh+Son+District,+Danang+City,/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x31420fdbc8cc38ef:0x9a6a3e31121225d2?sa=X&ved=2ahUKEwiKsaaap8b6AhWTc94KHUO2A_0Q9Rd6BAhVEAQ">
                <button class="btn btn-success btn-outline-secondary"
                        style="color: white;font-size: 10px;margin-top: 80px"><span
                  class=' bi-pin-map'></span> XEM BẢN ĐỒ
                </button>
              </a>
            </div>
            <div class="col-lg-10 img-fluid">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d30675.468158990207!2d108.1951328106234!3d16.04297803940453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3142191a4b753a03%3A0x917fac31af5cff3f!2zMjUgTmd1eeG7hW4gVGjDoWkgQsOsbmgsIEhvw6AgTWluaCwgTGnDqm4gQ2hp4buDdSwgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!3m2!1d16.059498599999998!2d108.17427889999999!4m5!1s0x31420fdbc8cc38ef%3A0x9a6a3e31121225d2!2zRnVyYW1hIFJlc29ydCBEYW5hbmcsIDEwNSBWw7UgTmd1ecOqbiBHacOhcCwgU3RyZWV0LCBOZ8WpIEjDoG5oIFPGoW4sIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!3m2!1d16.0399456!2d108.2510681!5e0!3m2!1svi!2sus!4v1665649097498!5m2!1svi!2sus"
                width="480" height="230" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3">
          <ul class="footer-links">
            <li><a href="https://furamavietnam.com/vi/furama-resort-danang-rack-rate/" target="_blank">Giá
              công
              bố</a>
            </li>
            <hr>

            <li><a href="https://furamavietnam.com/vi/lifestyle-blog/" target="_blank">Lifestyle
              Blog</a></li>

            <hr>

            <li><a href="https://furamavietnam.com/vi/work-with-us/" target="_blank">Tuyển dụng</a></li>
            <hr>
            <li><a href="https://furamavietnam.com/vi/contact/" target="_blank">Liên hệ</a></li>
            <hr>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 style="color: crimson">Liên hệ</h6>
          <ul class="footer-links">
            <li><a target="_blank"
                   href="https://www.google.com/maps/dir//103+-+105+Vo+Nguyen+Giap+Street,+Khue+My+Ward,
                           +Ngu+Hanh+Son+District,+Danang+City,/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x31420fdbc8cc38ef:
                           0x9a6a3e31121225d2?sa=X&ved=2ahUKEwiKsaaap8b6AhWTc94KHUO2A_0Q9Rd6BAhVEAQ">
              <span class='bi bi-pin-map'></span> <span>103 - 105 Vo Nguyen Giap Street, Khue My Ward,
                        Ngu Hanh Son District, Danang City, Vietnam
                        </span>
            </a></li>
            <hr>
            <li><a href="http://scanfcode.com/contact/">
              <span class='bi bi-telephone-forward'></span> 84-97111-8171/888 <span
              class='bi bi-printer'
              style="color: blue">Fax:</span>
              84-236-3847 666</a></li>
            <hr>
            <li><a href="mailto: phamdat.qn@gmail.com">
              <span class='bi bi-envelope'></span> phamdat.qn@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div>
          <p class="copyright-text" style="text-align: center">Copyright &copy; 2017 All Rights Reserved
            by
            <a href="https://www.facebook.com/phamdat.s2"
               style="color: blue;font-size: 20px; font-family: 'Brush Script MT', cursive;"
               target="_blank">Đạt
              Phạm</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>








