<form method="post"
      style="margin-left:30%;width: 40%;margin-top: 3%">
  <input id="id">
  <table class="table table-striped" border="1">
    <tr>
      <th colspan="2" style="color: darkmagenta;font-size: 40px;text-align: center;font-family: Papyrus,fantasy">
        CẬP NHẬT KHÁCH HÀNG
      </th>
    </tr>
    <tr>
      <td>TÊN KHÁCH HÀNG:</td>
      <td><input class="form-control" type="text" ></td>
    </tr>

    <tr>
      <td>GIỚI TÍNH:</td>
      <td>
        <input type="radio" value="true" name="gender"> checked>Name
        <input type="radio" value="false" name="gender" >>Nữ
      </td>
    </tr>
    <tr>
      <td>NGÀY SINH:</td>
      <td><input class="form-control" type="date" ></td>
    </tr>


    <tr>
      <td>SỐ CMND:</td>
      <td><input class="form-control" type="text" ></td>
    </tr>


    <tr>
      <td>SỐ ĐIỆN THOẠI:</td>
      <td><input class="form-control" type="text" ></td>
    </tr>

    <tr>
      <td>EMAIL:</td>
      <td><input class="form-control" type="text" ></td>
    </tr>

    <tr>
      <td>ĐỊA CHỈ:</td>
      <td><input class="form-control" type="text"></td>
    </tr>

    <tr>
      <td>LOẠI KHÁCH HÀNG:</td>
      <td>
        <select >
          <option class="form-control" ></option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-primary" type="submit">Cập nhật</button>
      </td>
    </tr>
  </table>
</form>
